<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section style="margin-top:60px; padding-top:30px;">
		<div class="card color2" >
			<div class="card-body" th:if="${contact}">
				<div class="container">
				<div class="row">
					<div class="col-md-4" style="margin-top:50px;">
						<img src="" style="height:200px; width:200px;" th:src="@{'/CONTACT_PROFILE/'+${contact.image}}" class="profilePicture" alt="profile_photo" />
						<h1 class="mt-3 color1"><span  th:text="${contact.name}"></span>(<span  th:text="${contact.nickName}"></span>)</h1>
						<h1 class="color1" th:text="${contact.relation}"></h1>
					</div>
					<div class="col-md-8" style="margin-top:70px;">
						<div th:if="${session.message}" class="container text-center " id="messageDiv">
							<div th:classappend="${'alert-'+session.message.type}" class="alert alert-dismissible fade show" role="alert">
		  						<span th:text="${session.message.content}"></span>
		  						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<table class="table  table-bordered font2" style="border-color:white; color:white;">
						  <thead>
						    <tr>
						      <th scope="col">ID</th>
						      <th scope="col"><span th:text="${'Cont'+contact.cid}"></span></th>
						      
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Contact number</th>
						      <td><span th:text="${contact.phone}"></span></td>
						    </tr>
						    <tr>
						      <th scope="row">Email ID</th>
						      <td><span th:text="${contact.email}"></span></td>
						    </tr>
						   <tr>
						      <th scope="row">Work</th>
						      <td><span th:text="${contact.work}"></span></td>
						    </tr>
						    <tr>
						    	 <th scope="row">About</th>
						    	 <td><span th:text="${contact.description}"></span></td>
						    </tr>    
						  </tbody>
						</table>
						
						 <div class="container text-center">
					         <form th:action="@{'/user/update/'+${contact.cid}}" method="post">
					       	   		<button type="submit" class="btn btn-lg btn-success">Update</button>
					       	 </form>
						 </div>
						 <div class="container text-center mt-3">
						    <button th:onclick="|deleteContact(${contact.cid})|" class="btn btn-lg btn-danger">Delete</button>
					     </div>
					    
						
					</div>
				</div>
					    		
				</div>
			</div>
			<div th:unless="${contact}" class="container text-center">
				<img src="" th:src="@{/IMAGE/pic2.jpeg}" style="border-radius: 50%;" alt="" />
				<h1 class="color1">You don't have this contact saved in your list!!!</h1>
			</div>
		</div>
	</section>
</body>
</html>