<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>	
	<section class="my-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12"></div>
			<div class=" col-xs-12 .col-md-8 col-sm-8 offset-md-2 col-lg-6 offset-lg-3 col-12">
				<!-- form start -->
					<form class="form-container" method="post" th:action="@{/reset-password}" action="#" id="login-form">
						
							<h3 class="text-center color1 font3 animate__animated animate__pulse animate__repeat-2">RESET PASSWORD</h3>
						
						<div th:if="${session.message}" class="container" id="messageDiv">	
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
  									<span th:text="${session.message}"></span>
 									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label color1">Enter new password:</label>
							 <div class="input-group">
									 <input type="password"
									 		name="newpassword"
									 	    class="form-control passwordInputField"
											id="password" 
											aria-describedby="emailHelp"
											placeholder="Enter your new password"
											required>
									 <span class="input-group-text" onclick="password_show_hide();" >
						                  <i class="fas fa-eye" id="show_eye"></i>
						                  <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
						                </span>
							</div>
						</div>
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label color1">Confirm new password:</label>
							<div class="input-group">
								 <input type="password"
								 		name="newpassword1"
								 	    class="form-control passwordInputField"
										id="password1" 
										aria-describedby="emailHelp"
										placeholder="Confirm new password"
										required>
								 <span class="input-group-text" onclick="password_show_hide1();" >
						                  <i class="fas fa-eye" id="show_eye1"></i>
						                  <i class="fas fa-eye-slash d-none" id="hide_eye1"></i>
						                </span>
							</div>
						</div>
						
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-outline-success btn-block"> RESET PASSWORD</button>
						</div>
						
						
					
					</form>
					<!-- form end -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12"></div>
		</div>
	</div>
		<script>
			$(document).ready(()=>{
				$(".nav-link").removeClass("active");
				$("#login-link").addClass("active");
			});
		</script>
	</section>
</body>
</html>